.info {
    margin-bottom: 150px;
}
.container {
}  

.info-wrapper {
    display: flex;
}
.info-img {
    margin-right: 60px;
    flex-basis: 570px;
    object-fit: cover;
}
.info-list {
    flex-basis: 490px;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    margin: 0;
    padding-left: 0;
}
.info-list-item {
    margin-bottom: 50px;
}
.info-list-item:last-child {
    margin-bottom: 0;
}

.item-titel {
    font-weight: 700;
    font-size: 16px;
    line-height: 19px;
    text-transform: uppercase;
    margin-top: 0;
    margin-bottom: 10px;
}
.item-text {
    margin: 0;
    font-weight: 400;
    font-size: 14px;
    line-height: 1.2;
}