html {
  scroll-behavior: smooth;
  box-sizing: border-box;
}

*, *::before, *::after {
  box-sizing: inherit;
}

body {
  width: 100%;
  height: 100%;
  font-family: Inter;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
}

ul li {
  list-style: none;
}

img {
  vertical-align: top;
}

h1, h2, h3, h4, h5, h6 {
  font-size: initial;
}

p {
  width: 100%;
  overflow-wrap: break-word;
}

button {
  cursor: pointer;
}

.container {
  max-width: 1240px;
  padding: 0 20px;
  margin: 0 auto;
}

.header {
  width: 100%;
}

.header-container {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.menu {
  margin-right: 70px;
}

.header-logo:hover {
  filter: invert(100%) sepia(0%) saturate(0%) hue-rotate(0deg) brightness(100%) contrast(100%);
  transition: all 0.4s;
}

.menu-list {
  display: flex;
  flex-wrap: wrap;
  justify-content: flex-end;
  align-items: center;
  list-style: none;
  margin: 0 auto;
}

.menu-item {
  padding: 10px;
}

.menu-link {
  color: #131313;
  text-decoration: none;
  padding: 43px 20px;
}

.menu-link:hover {
  background-color: #131313;
  color: white;
  transition: all 0.4s;
}

.bike {
  border: 0;
  padding: 100px 0 150px;
}
.bike-inner {
  display: flex;
}
.bike-left-title {
  margin-top: 64px;
  font-weight: 700;
  font-size: 64px;
  line-height: 77px;
  margin-bottom: 5pxs;
}
.bike-left-subtitle {
  font-size: 32px;
  line-height: 39px;
  color: #6F6F6F;
  margin-bottom: 60px;
}
.bike-left-text {
  width: 420px;
}
.bike-left-text:nth-of-type(1) {
  margin-bottom: 20px;
}
.bike-left-text:nth-of-type(2) {
  margin-bottom: 80px;
}
.bike-left-order {
  text-decoration: none;
  padding: 28px 81px;
  color: white;
  background: #131313;
  font-size: 20px;
  line-height: 24px;
  letter-spacing: 1.1em;
  text-transform: uppercase;
}
.bike-left-order:hover {
  background: #FF4040;
  transition: all 0.4s;
}
.bike_list {
  display: flex;
  justify-content: space-around;
  margin-top: 27px;
}
.bike_list-item {
  display: flex;
  flex-direction: column;
  align-items: center;
  max-width: 160px;
}
.bike_list-item span:nth-child(1) {
  font-weight: 700;
  font-size: 14px;
  line-height: 17px;
  text-transform: uppercase;
}
.bike_list-item span:nth-child(2) {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  min-height: 50px;
  max-width: 160px;
  text-align: center;
  font-weight: 400;
  font-size: 12px;
  line-height: 15px;
}
.bike .slider-lines span {
  height: 2px;
  background-color: gray;
}

.info {
  margin-bottom: 150px;
}

.info-wrapper {
  display: flex;
}

.info-img {
  margin-right: 60px;
  flex-basis: 570px;
  -o-object-fit: cover;
     object-fit: cover;
}

.info-list {
  flex-basis: 490px;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
  padding-left: 0;
}

.info-list-item {
  margin-bottom: 50px;
}

.info-list-item:last-child {
  margin-bottom: 0;
}

.item-titel {
  font-weight: 700;
  font-size: 16px;
  line-height: 19px;
  text-transform: uppercase;
  margin-top: 0;
  margin-bottom: 10px;
}

.item-text {
  margin: 0;
  font-weight: 400;
  font-size: 14px;
  line-height: 1.2;
}/*# sourceMappingURL=main.css.map */